.accordion-button {
  color: $color-primary;

  &:focus,
  &:not(.collapsed) {
    box-shadow: none;
    background-color: white;
    color: $color-primary;
  }

  &:not(.collapsed) {
    border-bottom: 1px solid $color-primary;
  }
}

.accordion {
  filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.055));
  margin: 76px 0 176px 0;
  .accordion-body {
    background-color: #f5f5f5;
  }
}

.tab-images {
  width: 100%;
}
