.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.carousel-indicators  {
    [data-bs-target] {
        border: none;
        height: 30px;
        opacity: 1;
        box-shadow: 0 3px 6px black;
        border-radius: 2px;
    }

    .active {
        background-color: #E92569;
    }
}