.info {
    margin-top: 30px;
  .icons {
    max-width: 60px;
  }
  p {
    margin: 0;
  }
}

.contact-form {
  background-color: #EFEFEF !important;

  .submit-btn {
    background-color: #767676;
    border: none;
    width: 100%;
  }

  .form-check-input {
    background-color: $color-primary;
    padding: 15px;
    border: none;
  }

  .form-check-label {
    font-size: 15px;
  }
}