.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar {
    padding: 15px 0;
}

.navbar-toggler-icon {
    height: 23px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    color: #E92569 !important;
}