.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
}

.navbar {
    padding: 15px 0;
}

.nav-container {
    padding: 0;
}

.navbar-toggler-icon {
    height: 23px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    color: #E92569 !important;
}

.nav-search {
    border-radius: 0;
    border: none;

}

.btn {
    border-radius: 0;
    border: none;
    background-color: #E92569;
    color: white;
    width: 43px;
}

.navbar-nav {
    .active {
        background-color: white;
    }
}
